h4{
    color: indigo;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

a:link {
    color: brown;
    background-color: transparent;
    text-decoration: underline;
    font-family: sans-serif;
}

a:visited {
    color: lightgreen;
    background-color: black;
    text-decoration: bold;
}

a:hover {
    color: aqua;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: lawngreen;
    background-color: indigo;
    text-decoration-color: indianred;
}

tr {
    text-align: center;
}

table {
    border: 3px dashed indianred;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: katakana;
}

p {
    color: lightgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#impt {
    color: yellow;
    font-family: sans-serif;
    font-weight: bold;
    border-color: yellow;
    
    
}

